$white: #FFFFFF;
$lightBlue: #0485ee;
$lightYellow: #F7C336;
$lightGray: #dbdbdb;


$blue: #015ca7;

$textPrimary: #25262A;
$textSecondary: #444957;
$textTertiary: #727683;


$green: #3fa802;
$red: #e40303;

$bgPrimary: #EEEEEE;
$bgSecondary: #444957;
$bgFooter: #2C3039;